@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@keyframes entering {
    from {
        opacity: 0;
        transform: translateX(-400px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    margin: 0;
}

body.historia, .recordes, .condec {
    background-image: url('../imagens/senna-formula1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #FB3016;
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
}

.titulo {
    flex: 30%;
    text-align: left;
    margin-left: 10%;
}

.titulo > h1 {
    font-family: 'Alkatra', cursive;
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
}

#itens {
    flex: 50%;
    text-align: right;
    padding: 20px;
    margin-right: 10%;
}

#itens > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.555);
}

#itens > a:hover {
    color: #FFDC19;
    border-bottom: 5px solid #FEE470;
    padding-bottom: 20px;
}

#burguer {
    color: white;
    display: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.699);
}

header {
    max-width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > img {
    max-width: 60%;
    animation: entering 1s ease-in-out;
}

section {
    background-color: rgba(255, 255, 255, 0.795);
    padding: 10px 60px;
    display: block;
    margin: auto;
}

section > p {
    font-weight: bold;
    text-indent: 30px;
    line-height: 25px;
    text-align: justify;
}

section > p.fala {
    font-weight: normal;
    font-style: italic;
}

section > h1 {
    background-image: linear-gradient(to right, #FFDC19, #FEE470);
    font-family: 'Alkatra', cursive;
    font-size: 2.7em;
    color: #FB3016;
    text-align: center;
}

section > h2 {
    color: rgb(0, 0, 92);
    font-family: 'Alkatra', cursive;
    font-size: 2em;
    margin-top: -5px;
    margin-bottom: -5px;
}

section > img {
    max-width: 300px;
    float: left;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.719);
}

section > img.foto2 {
    max-width: 300px;
    float: right;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.719);
}

section.condecoracoes {
    font-weight: bold;
    line-height: 35px;
}

hr {
    padding: 5px;
    margin-bottom: 20px;
}

table {
    width: 1100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #FEE470;
    font-size: 1.2em;
}

td {
    background-color: white;
}

footer {
    background-image: linear-gradient(to bottom right, #FB3016, #2e0500);
    height: 150px;
    border-top: 10px solid #FFDC19;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer > a {
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    margin-top: 65px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.685);
}

footer > a:hover {
    font-size: 1.7em;
}

@media screen and (max-width: 1139px) {
    nav {
        display: block;
        height: auto;
    }
    .titulo {
        display: block;
        text-align: center;
        margin-left: 0;
    }
    .titulo > h1 {
        padding: 0;
        margin: 0;
    }
    #itens {
        display: none;
        margin-right: 0px;
    }
    #itens > a {
        display: block;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #FEE470;
    }
    #burguer {
        display: block;
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
        cursor: pointer;
    }
    header > img {
        max-width: 80%;
    }
    section > h1 {
        font-size: 2.4em;
    }
    section > h2 {
        font-size: 1.7em;
    }
    table {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .titulo > h1 {
        font-size: 2.7em;
    }
    #itens > a {
        font-size: 17px;
    }
    header > img {
        max-width: 100%;
    }
    section {
        padding: 5px 25px;
    }
    section > h1 {
        font-size: 2em;
    }
    section > h2 {
        font-size: 1.5em;
        margin-bottom: -10px;
    }
    footer {
        height: 100px;
    }
    footer > a {
        font-size: 1.2em;
        margin-top: 35px;
    }
    footer > a:hover {
        font-size: 1.4em;
    }
    section > img {
        max-width: 80%;
        float: none;
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
    section > img.foto2 {
        max-width: 80%;
        float: none;
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
    table {
        width: 100%;
    }
    th {
        font-size: 1em;
    }
}