@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body.historia {
    background-image: url('../imagens/senna-formula1.jpg');
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: #FB3016;
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo {
    flex: 30%;
    text-align: left;
    margin-left: 10%;
}

.titulo > h1 {
    font-family: 'Alkatra', cursive;
    font-size: 3.5em;
    color: white;
}

.menu {
    flex: 50%;
    text-align: right;
    padding: 20px;
    margin-right: 10%;
}

.menu > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.menu > a:hover {
    color: #FFDC19;
    border-bottom: 5px solid #FEE470;
    padding-bottom: 20px;
}

header {
    max-width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header > img {
    max-width: 60%;
}

section {
    background-color: rgba(255, 255, 255, 0.795);
    padding: 10px 60px;
    display: block;
    margin: auto;
}

section > p {
    font-weight: bold;
    text-indent: 30px;
    line-height: 25px;
    text-align: justify;
}

section > p.fala {
    font-weight: normal;
    font-style: italic;
}

section > h1 {
    background-image: linear-gradient(to right, #FFDC19, #FEE470);
    font-family: 'Alkatra', cursive;
    font-size: 2.7em;
    color: #FB3016;
    text-align: center;
}

section > h2 {
    color: rgb(0, 0, 92);
    font-family: 'Alkatra', cursive;
    font-size: 2em;
    margin-top: -5px;
    margin-bottom: -5px;
}

section > img {
    max-width: 300px;
    float: left;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.719);
}

section > img.foto2 {
    max-width: 300px;
    float: right;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.719);
}

hr {
    padding: 5px;
    margin-bottom: 20px;
}

footer {
    background-image: linear-gradient(to bottom right, #FB3016, #2e0500);
    height: 150px;
    border-top: 10px solid #FFDC19;
    text-align: center;
}

footer > a {
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    margin-top: 65px;
}

footer > a:hover {
    font-size: 1.7em;
}